@charset "UTF-8";
.wrap2{padding:15px; letter-spacing:-0.5px;}
.tab_menu{position:relative;}
.tab_menu .list{overflow:hidden;}
.tab_menu .list li{float:left;     margin-left: 2px;}
.tab_menu .list li.is_on .btn2{font-weight:bold; color:green;}
.tab_menu .list .btn2{font-size:14px;}
.tab_menu .cont_area{margin-top:10px;}
.tab_menu .cont_area .cont{display:none; background:#555; color:#080808; text-align:center;     height: 100%;
    min-height: 192px;
    border-radius: 30px 30px 30px 30px / 30px 30px 30px 30px;
    background-color: white;}



.ico_1{background:url('https://mimgnews.pstatic.net/image/upload/office_logo/023/2020/04/29/logo_023_56_20200429140429.png') no-repeat; background-size:48px auto}
.ico_2{background:url('https://mimgnews.pstatic.net/image/upload/office_logo/025/2021/08/20/logo_025_56_20210820165911.png') no-repeat; background-size:48px auto}
.ico_3{background:url('https://mimgnews.pstatic.net/image/upload/office_logo/020/2020/09/17/logo_020_56_20200917112548.jpg') no-repeat; background-size:48px auto}
.ico_4{background:url('https://mimgnews.pstatic.net/image/upload/office_logo/032/2022/12/05/logo_032_56_20221205150153.png') no-repeat; background-size:48px auto}
.ico_5{background:url('https://mimgnews.pstatic.net/image/upload/office_logo/028/2018/08/01/logo_028_56_20180801163801.png') no-repeat; background-size:48px auto}


.tab_menu li span{display:inline-block;width:48px;height:48px;margin:0 auto;   border: 1px solid rgba(0,0,0,.1);
    border-radius: 10px 10px;}
.tab_menu li {display:block;overflow:hidden;height:79px;font-size:12px;color:rgba(0,0,0,0.87);text-align:center; cursor: pointer;}

.btn2{
    align-items: center;
    background-repeat: no-repeat;
    color: #111;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 13px;
    justify-content: center;
    letter-spacing: -.5px;
    line-height: 20px;
    padding:2px 5px 2px 5px;
    text-align: center;
    white-space: nowrap;
    width: auto
}
